*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

main{
    max-width: 1100px;
    margin: 0 auto;
}

section{
    margin-top: 130px;
}

/* Header section */

header{
    background-size:cover;
    height: 750px;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
}

.btn-primary{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    padding: 18px 30px;
    border-radius: 5px;
    border: 1px solid blue;
    font-weight: 900px;
    font-size: 20px;
    box-shadow: 15px 15px 80px gray;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover{
    color: white;
    background-color: blue;
    box-shadow: 10px 10px 30px gray;
}

.banner{
    text-align: right;
    padding: 200px 120px;
}

.banner-title{
    color: #151414;
    font-weight: 900;
    font-size: 65px;
    line-height: 76px;
}

.banner-description{
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    padding-left: 700px;
}

/* main section style */
/* previous-year section */

.previous-year{
    display: flex;
    gap: 90px;
}

.previous-year-text{
    margin-top: 260px;
}

.item-title{
    color: #151414;
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
}

.item-titles{
    margin-bottom: 24px;
}
.item-description{
    margin-bottom: 24px;
    color: #444343;
}

.item-check-list{
    color: #444343;
    line-height: 35px;
}

.item-check-list p i{
    color: blue;
}

.failures{
    color: blue;
}

/* my-plan section style */

.my-plan-title h3{
    text-align: center;
}

.skill{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.skill-set{
    text-align: center;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

.skill-description{
    margin-top: 10px;
    color: #737272;
    font-weight: 500;
    font-size: 15px;
}
hr{
        position: relative;
        margin-top: 12px;
        margin-left: 465px;
        border: none;
        border-radius: 5px;
        height: 6px;
        width: 10%;
        background: blue;
        margin-bottom: 50px;
}

/* positive mindset style */

.positive-img{
    background-image: linear-gradient(to right, #005FAC, #005fac23), url('../images/watch.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
}
.po-color{
    color: white;
}

.positive-title{
    margin: 40px 0 0 50px;
}

.positive-button{
    margin-left: 50px;
}

/* Footer style */
footer{
    color: white;
    background-color: black;
    height: 600px;
}

.future{
    display: flex;
    gap: 280px;
    margin: 150px 290px 290px 290px ;
    justify-content: space-between;
}

.future-title{
    font-size: 45px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 20px;
}

.future-description{
    line-height: 30px;
}

.future-pera{
    margin-top: 10px;
    line-height: 50px;
}

.subscribe{
    margin-top: 110px;
    font-size: 15px;
}

.subscribe input{
    font-size: 15px;
    margin-top: 40px;
    padding: 15px 30px;
    background: transparent;
    border: 1px solid white;
    color: white;
}

/* Footer social icon style */
.f-icon-parent{
    display: flex;
    gap: 30px;
    list-style: none;
}
    
.footer-icon img{
    margin-top: 30px;
    padding-right: 10px;
}


/* Bonus section */

.stay-head{
    text-align: center;
}

.stay-all-item{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 50px;
}
.stay-item{
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 10px 10px 30px lightgrey;
    padding: 20px 40px;
}

.stay-title{
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 5px;
}

.stay-description{
    color: #737272;
}
