*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

main{
    max-width: 1100px;
    margin: 0 auto;
}

section{
    margin-top: 130px;
}

/* Header section */

header{
    background-size:cover;
    height: 750px;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
}

.btn-primary{
    color: blue;
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 5px;
    border: 2px solid blue;
    font-weight: 900px;
    font-size: 20px;
    box-shadow: 10px 10px 30px gray;
}

.btn-primary:hover{
    color: white;
    background-color: blue;
    box-shadow: 10px 10px 30px gray;
}

.banner{
    text-align: right;
    padding: 200px 120px;
}

.banner-title{
    color: #151414;
    font-weight: 900;
    font-size: 65px;
    line-height: 76px;
}

.banner-description{
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    padding-left: 700px;
}

/* main section style */
/* previous-year section */

.previous-year{
    display: flex;
    gap: 90px;
}

.previous-year-text{
    margin-top: 260px;
}

.item-title{
    color: #151414;
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
}

.item-titles{
    margin-bottom: 24px;
}
.item-description{
    margin-bottom: 24px;
    color: #444343;
}

.item-check-list{
    color: #444343;
    line-height: 35px;
}

.item-check-list p i{
    color: blue;
}

.failures{
    color: blue;
}

/* my-plan section style */

.my-plan-title h3{
    text-align: center;
}

.skill{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.skill-set{
    text-align: center;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
}

.skill-description{
    color: #737272;
    font-weight: 500;
    font-size: 15px;
}
hr{
        position: relative;
        margin-top: 12px;
        margin-left: 465px;
        border: none;
        border-radius: 5px;
        height: 6px;
        width: 10%;
        background: blue;
        margin-bottom: 50px;
}

/* positive mindset style */

.positive-img{
    background-image: linear-gradient(to right, #1739f9, #d3d7f1b4), url('../images/watch.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
    background-blend-mode:multiply;
}
.po-color{
    color: white;
}

.positive-title{
    margin: 40px 0 0 50px;
}

.positive-button{
    margin-left: 50px;
}